@if (hovered(); as r) {
  @if (transform(); as t) {
    <div class="tooltip" [style.transform]="t">
      <div class="tooltip__head">
        <span class="tooltip__name">{{ r.name }}</span>
        <span class="tooltip__country">{{ r.country }}</span>
      </div>
      @if (stats(); as s) {
        <dl class="tooltip__stats">
          <div class="tooltip__stat">
            <dt>Population</dt>
            <dd>{{ s.population }}</dd>
          </div>
          <div class="tooltip__stat">
            <dt>Oil / day</dt>
            <dd>{{ s.oil }}</dd>
          </div>
          <div class="tooltip__stat">
            <dt>Gold / day</dt>
            <dd>{{ s.gold }}</dd>
          </div>
          <div class="tooltip__stat">
            <dt>Stability</dt>
            <dd>{{ s.stability }}%</dd>
          </div>
        </dl>
        @if (s.scope === 'country') {
          <div class="tooltip__note">National aggregate</div>
        }
      } @else {
        <div class="tooltip__note">No simulation data.</div>
      }
    </div>
  }
}
